

.footer-container{
   
    display:flex;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    margin-bottom:14rem;
    /* gap: 1rem; */
    /* overflow-x: auto; */
}



.text-container{
    height: 22rem;
    display:flex;
    flex-direction: column;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    border: 0;
    /* padding: 1rem 5rem; */
    padding-right: 8rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    justify-content: end;
    margin-right: 10px;
    /* justify-content: end; */
      
    /* justify-content: space-around; */

}

.text-container::before{
    content: "";
    display: block;
    height: calc(100% - calc(5px *2));
    width: calc(100% - calc(5px * 2));
    background: black;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: calc(5px - 2px);
    z-index: -1;

    
}

.text-container h1{
    width: 110px;
    margin-bottom: 2rem;
    font-size: 2rem;  
    text-align: start; 
    /* text-align:end; */
}

.text-container p{
    margin-bottom: 1rem;
}

.digital-oceans{
    color: rgb(46, 115, 243);
}

.card-component{
    overflow-x: auto;
    /* background-color: rgb(111, 108, 108); */
    background-color: rgb(47, 47, 47);
}

.line{
    background: linear-gradient(to bottom, #833ab4, #fd1d1d, #fcb045);
    height: 25rem;
    width: 10px;
}